nav, main {
    width: 900px;
    background-color: antiquewhite;
    border: solid 2px gray;
    margin: 10px auto;
    min-height: 200px;
    padding: 10px;
}

main{
    min-height: 600px;
}

.add_t{
    background-color: blueviolet;
    width: 300px;
}