nav, main{
    width: 700px;
    min-height: 100px;
    border: 4px solid gray;
    margin: 10px auto;
    background-color: antiquewhite;
}

nav button{
    padding: 10px;
    font-size: 20px;
}

main{
    min-height: 500px;
    font-size: 2em;
    position: relative;
}

nav input {
    font-size: 20px;
    padding: 5px;
    font-weight: bold;
}

.ball{
    width: 100px;
    height: 100px;
    border: solid 2px gray;
    background-color: aquamarine;
    border-radius: 50%;
    position: absolute;
}
