.result{
    width: 300px;
    height: 200px;
    margin: auto;
    background-color: aquamarine;
    margin-bottom: 10px;
}


.result-format{
    font-size: 2em;
    color: blue;
    font-weight: bold;
    font-style: italic;
}
