nav, main{
    width: 700px;
    min-height: 100px;
    border: 4px solid gray;
    margin: 10px auto;
    padding: 10px;
    background-color: antiquewhite;
}

nav button{
    padding: 10px;
    font-size: 20px;
}

main{
    min-height: 500px;
    font-size: 2em;
}

nav input {
    font-size: 20px;
    padding: 5px;
    font-weight: bold;
}