nav, main {
    width: 700px;
    min-height: 100px;
    border: 3px solid gray;
    margin: auto;
    padding: 10px;
}

main{
    margin-top: 10px;
    min-height: 300px;
    background-color: beige;
}

.new {
    height: 20px;
    border: solid 3px green;
    background-color: aquamarine;
}
