body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 3em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.desc{
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
    position: relative;
    box-sizing: border-box;
}

.ball{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border: solid 1px gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}